body {

    width: 250px;
    padding: 15px;

    font-family: Segoe UI;
}

#logo {

    height: 24px;
    width: auto;

    display: block;
    margin-bottom: 10px;
}

button {

    width: 100%;
    padding: 10px;

    margin-bottom: 10px;
}